html {
    font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.body__theme {
  background-color: #1a1a1a;
  color: wheat;

    .main__container {
      .main__profile {
        .profile-info-container {
          .profile-info {
            background-color: #161616;
            box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.3);
          }

          .profile-action {
            background-color: #161616;
            box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.3);
          }
        }
      }

      .main__news {
        .container-news { 
          .news-card {
            background-color: #151515;
            box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.4);

            .card-header {
              background-color: #131313;
            }

            .card-content {
              p {
                &:nth-child(1) {
                  color: rgb(139, 119, 172);
                }

                img {
                  border: none;
                  outline: none;
                }

                &:nth-child(3) {
                  color: rgb(139, 119, 172);
                }
              }
            }
          }
        }
      }

      .main__global-chat {
        .container-profile { 
          background-color: #151515;
          box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.4);
        }

        .container-chat {
          background-color: #151515;
          box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.4);

          .chat-main {
            .container-messages {
              .msg-card {
                .message-box {
                  background-color: #121212;

                  .user-message, .message-time {
                    color: rgba(243, 243, 243, 0.8);
                  }
                }
              }
            }
          }

          .chat-footer {
            form {
              label {
                input {
                  background-color: #121212;
                  color: rgb(243, 243, 243);
                }
              }
            }
          }
        }
      }
    }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(97, 72, 138);
}

/* Animation */
@keyframes reverse {
    0% {
        opacity: 1;
        transform: rotateY(0deg);
    }

    50% {
        opacity: 0;
        transform: rotateY(360deg);
    }

    100% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.9);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-8px) rotateZ(360deg);
  }

  50% {
    transform: translateY(0px) rotateY(360deg);
  }

  75% {
    transform: translateY(-8px) rotateX(360deg);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes fBook {
  0% {
    color: rgb(132, 106, 173);
    transform: translateY(-15px) rotateY(0deg) rotateZ(0deg);
  }

  50% {
    color: rgb(100, 57, 169);
    transform: translateY(-15px) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    color: rgb(132, 106, 173);
    transform: translateY(-15px) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes sBook {
  0% {
    color: rgb(132, 106, 173);
    transform: translateX(60px) translateY(-20px) rotateY(0deg) rotateZ(0deg);
  }

  50% {
    color: rgb(100, 57, 169);
    transform: translateX(60px) translateY(-20px) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    color: rgb(132, 106, 173);
    transform: translateX(60px) translateY(-20px) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes tBook {
  0% {
    color: rgb(132, 106, 173);
    transform: translateX(105px) translateY(-5px) rotateY(0deg) rotateZ(0deg);
  }

  50% {
    color: rgb(100, 57, 169);
    transform: translateX(105px) translateY(-5px) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    color: rgb(132, 106, 173);
    transform: translateX(105px) translateY(-5px) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes foBook {
  0% {
    color: rgb(132, 106, 173);
    transform: translateX(125px) translateY(30px) rotateY(0deg) rotateZ(0deg);
  }

  50% {
    color: rgb(100, 57, 169);
    transform: translateX(125px) translateY(30px) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    color: rgb(132, 106, 173);
    transform: translateX(125px) translateY(30px) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes fiBook {
  0% {
    color: rgb(132, 106, 173);
    transform: translateX(105px) translateY(70px) rotateY(0deg) rotateZ(0deg);
  }

  50% {
    color: rgb(100, 57, 169);
    transform: translateX(105px) translateY(70px) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    color: rgb(132, 106, 173);
    transform: translateX(105px) translateY(70px) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes siBook {
  0% {
    color: rgb(132, 106, 173);
    transform: translateX(60px) translateY(95px) rotateY(0deg) rotateZ(0deg);
  }

  50% {
    color: rgb(100, 57, 169);
    transform: translateX(60px) translateY(95px) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    color: rgb(132, 106, 173);
    transform: translateX(60px) translateY(95px) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes fadeInContent {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateY(-40px);
    
  }
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0.75;
  }

  85% {
    opacity: 0.85;
  }

  100% {
    opacity: 1;
    transform: translateY(113px);
  }
}

/* Header */
header {
  max-width: 1920px;

  position: sticky;
  z-index: 9999;
  top: 0;

  .header__container {
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(127, 102, 167);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.549);

    .container-logo {
      margin-left: 150px;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      a {
        outline: none;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.4rem;
        color: wheat;

        i {
          padding-right: 2px;
          font-size: 1.2rem;
        }
      }

      &:hover {
        i {
          animation-name: reverse;
          animation-duration: 2s;
          animation-iteration-count: infinite;
        }
      }
    }

    .container-navigation {
      margin-left: 350px;

      a {
        margin: 10px;
        padding-bottom: 12px;

        font-size: 0.85rem;
        font-weight: 700;

        color: wheat;
        outline: none;
        text-transform: uppercase;
        text-decoration: none;

        i {
          padding: 3px;
        }

        &:hover {
          border-bottom: 3px solid wheat;
          box-sizing: border-box;

          i {
            animation-name: pulse;
            animation-duration: 1s;
            animation-iteration-count: infinite;
          }
        }
      }
    }

    .container-option {
      padding-left: 350px;
      margin-right: 40px;

      .switch {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 15px;

        input { 
          opacity: 0;
          width: 0;
          height: 0;
        }
              
        .slider {
          position: absolute;
          cursor: pointer;
          
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          
          -webkit-transition: .4s;
          transition: .4s;
        }
              
        .slider:before {
          position: absolute;
          content: "";
          
          height: 11px;
          width: 11px;
          left: 2px;
          bottom: 2px;
                
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }
              
        input:checked + .slider {
          background-color: rgb(100, 57, 169);
        }
              
        input:focus + .slider {
          box-shadow: 0 0 1px rgb(100, 57, 169);
        }
              
        input:checked + .slider:before {
          -webkit-transform: translateX(15px);
          -ms-transform: translateX(15px);
          transform: translateX(15px);
        }
              
        .slider.round {
          border-radius: 30px;
        }
              
        .slider.round:before {
          border-radius: 50%;
        }
          
      }
          
      .fa-sun {
        padding: 3px;

        font-size: 1.2rem;
        color: rgb(232, 185, 84);
      }

      .fa-moon {
        padding: 3px;

        font-size: 1.2rem;
        color: rgb(65, 65, 65);
      }
    }

    .container-profile {
      margin-right: 150px;

      a {

        font-size: 0.85rem;
        font-weight: 700;

        color: wheat;
        outline: none;
        text-decoration: none;
        text-transform: uppercase;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        i {
          padding-right: 7px;
          font-size: 1.3rem;
        }
      }
    }
  }

  .study_header__container {
    position: absolute;
    width: 100%;
    padding: 10px 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(97, 78, 128);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.549);

    .study-navigation {
      a {
        margin: 10px 20px;
        padding-bottom: 10px;
  
        font-size: 0.85rem;
        font-weight: 700;
  
        color: wheat;
        outline: none;
        text-transform: uppercase;
        text-decoration: none;

        i {
          padding: 3px;
        }

        &:hover {
          border-bottom: 3px solid wheat;
          box-sizing: border-box;
  
          i {
            animation-name: pulse;
            animation-duration: 1s;
            animation-iteration-count: infinite;
          }
        }
      }
    }

    .study-drop-list {
      position: absolute;
      z-index: 0;

      transform: translateY(113px);
      left: 633px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: rgb(97, 78, 128);

      a {
        width: 190px;
        padding: 15px 10px;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        text-decoration: none;
        text-transform: uppercase;

        font-size: 0.85rem;
        font-weight: 700;
        color: wheat;

        &:hover {
          background-color: rgb(74, 59, 97);

          i {
            animation-name: pulse;
            animation-duration: 1s;
            animation-iteration-count: infinite;
          }
        }
      }
    }
    
  }
}

/* Main */
main {
  max-width: 1920px;

  .main__container {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main__content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      margin-top: 100px;
      width: 100%;
      height: 350px;

      background-color: rgb(127, 102, 167);
      box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.549);

      animation-name: fadeInContent;
      animation-duration: 2s;
      animation-iteration-count: 1;

      .content-about {
        margin-left: 250px;

        width: 500px;
        padding: 20px;

        background-color: rgb(141, 115, 182);
        border: 10px solid rgb(132, 106, 173);
        box-sizing: border-box;

        .header-content {
          padding: 4px;
          font-size: 1.4rem;
          font-weight: 500;
          color: wheat;
          letter-spacing: 0.4px;
        }

        .header-title {
          padding: 4px;
          font-size: 0.95rem;
          font-weight: 500;
          color: wheat;
          letter-spacing: 0.4px;
        }
      }

      .content-image {
        margin-left: 200px;
        
        img {
          width: 60%;
          height: 35%;

          padding: 10px;

          border: 10px solid rgb(141, 115, 182);
          box-sizing: border-box;

          box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.45);
          background-color: rgba(245, 222, 179, 1);
        }
      }
    }

    .content_study {
      height: 450px;

      .content-title {
        width: 500px;

        padding: 15px;
        margin-right: 200px;

        border: 10px solid rgb(141, 115, 182);
        box-sizing: border-box;

        font-size: 1.1rem;
        font-weight: 500;
        color: wheat;
      }
    }

    .content_info {
      height: 450px;

      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      .content-image {
        margin: 0;
        margin-left: 250px;

        img {
          width: 55%;
        }
      }

      .content-title {
        width: 550px;

        padding: 15px;
        margin-left: 320px;

        background-color: rgb(132, 106, 173);
        border: 10px solid rgb(141, 115, 182);
        box-sizing: border-box;

        font-size: 1.1rem;
        font-weight: 500;
        color: wheat;
      }
    }

    .main__signup, .main__signin {
      margin-top: 80px;
      padding-bottom: 130px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .signup-header {
        margin: 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: rgb(141, 115, 182);
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;

        p {
          margin: 0;
        }

        i {
          margin: 5px;
          font-size: 2rem;

          animation-name: bounce;
          animation-duration: 2s;
          animation-iteration-count: infinite;
        }
      }

      .signup-form {
        form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          label {
            padding: 10px;

            input {
              width: 400px;
              height: 35px;

              padding: 5px;

              outline: none;
              border: none;
              border-bottom: 2px solid rgb(132, 106, 173);
              background-color: rgba(0, 0, 0, 0);
              box-sizing: border-box;

              font-size: 0.9rem;
              color: rgb(132, 106, 173);

              &::placeholder {
                color: rgb(132, 106, 173);
              }
            }
          }

          button {
            margin-top: 45px;
            width: 215px;
            height: 46px;

            background-color: rgb(132, 106, 173);
            border: none;
            outline: none;
            
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: 700;
            color: wheat;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .signin-form {
        form {
          padding-bottom: 79px;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .footer-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          a {
            margin: 5px;
            text-decoration: none;
            color: rgb(132, 106, 173);
            font-size: 1.1rem;
            font-weight: 500;
          }

          label {
            padding: 10px;

            input {
              width: 400px;
              height: 35px;

              padding: 5px;

              outline: none;
              border: none;
              border-bottom: 2px solid rgb(132, 106, 173);
              background-color: rgba(0, 0, 0, 0);
              box-sizing: border-box;

              font-size: 0.9rem;
              color: rgb(132, 106, 173);

              &::placeholder {
                color: rgb(132, 106, 173);
              }
            }
          }

          button {
            margin-top: 40px;
            width: 215px;
            height: 45px;

            background-color: rgb(132, 106, 173);
            border: none;
            outline: none;

            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: 700;
            color: wheat;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .main__modal {
      position: absolute;
      z-index: 1;

      width: 100%;
      height: 100%;

      background-color: rgba(0, 0, 0, 0.8);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .modal-window {
        position: absolute;
        z-index: 2;

        width: 350px;
        height: 100px;
        background-color: rgb(127, 102, 167);
        color: wheat;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;

        p {
          padding: 20px;
          font-size: 1.1rem;
          font-weight: 700;
        }
      }
    }

    .main__loader {
      padding-top: 190px;
      padding-bottom: 189px;

      .loader {
        width: 250px;
        height: 250px;

        display: flex;
        flex-direction: column;
        align-items: center;

        animation-name: spin;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;

        i {
          font-size: 1.5rem;

          &:nth-child(1) {
            animation-name: fBook;
            animation-duration: 3.5s;
            animation-iteration-count: infinite;
          }

          &:nth-child(2) {
            animation-name: sBook;
            animation-duration: 3s;
            animation-iteration-count: infinite;
          }

          &:nth-child(3) {
            animation-name: tBook;
            animation-duration: 2.5s;
            animation-iteration-count: infinite;
          }

          &:nth-child(4) {
            animation-name: foBook;
            animation-duration: 2s;
            animation-iteration-count: infinite;
          }

          &:nth-child(5) {
            animation-name: fiBook;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
          }

          &:nth-child(6) {
            animation-name: siBook;
            animation-duration: 1s;
            animation-iteration-count: infinite;
          }
        }
      }
    }

    .main__profile {

      .profile-info-container {
        width: 800px;
        height: 900px;
  
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
  
        .profile-info {
          width: 250px;
          height: 500px;
          
          background-color: rgb(243, 243, 243);
          box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3);
  
          display: flex;
          flex-direction: column;
          align-items: center;
  
          img {
            margin: 20px;
            width: 140px;
            height: 140px;
  
            border: 2px solid rgb(132, 106, 173);
            box-sizing: border-box;
            box-shadow: 0px 0px 9px 8px rgba(132, 106, 173, 0.4);
            border-radius: 100%;
          }
  
          .container-info {
            display: flex;
            flex-direction: column;
            align-items: center;
  
            p {
              color: rgb(132, 106, 173);
              margin: 0;
              padding: 10px;
              font-size: 1.1rem;
              font-weight: 500;
            }
    
            .profile-lvl {
              margin: 15px;
    
              width: 100px;
              height: 100px;
    
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
    
              border: 2px solid rgba(132, 106, 173, 0.645);
              box-sizing: border-box;
              border-radius: 100%;
    
              p {
                margin: 0;
                padding: 0;
                text-transform: uppercase;
    
                &:nth-child(1) {
                  font-size: 1.3rem;
                  font-weight: 700;
                }
    
                &:nth-child(2) {
                  font-size: 0.95rem;
                }
              }
            }
    
            .profile-xp {
              position: relative;
              height: 30px;
    
              .background-xp {
                width: 200px;
    
                background-color: rgb(100, 57, 169);
                box-shadow: 0px 0px 8px 4px rgba(100, 57, 169, 0.3);
    
                .xp-bar {
                  padding: 8px;
                  width: 120px;
    
                  background-color: rgb(132, 106, 173);
                }
              }
            } 
    
            button {
              margin: 15px;
              width: 220px;
              height: 45px;
    
              background-color: rgb(132, 106, 173);
              border: none;
              outline: none;
    
              font-size: 1.1rem;
              font-weight: 700;
              color: wheat;
    
              &:hover {
                cursor: pointer;
                background-color: rgb(97, 72, 138);
              }
            }
          }
        }
  
        .profile-action {
          margin-top: 100px;
          margin-left: 25px;
          padding-bottom: 100px;
  
          width: 600px;
          height: 500px;
  
          background-color: rgb(243, 243, 243);
          box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3);
  
          display: flex;
          flex-direction: column;
          align-items: center;
  
          .profile-navigation {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
  
            a {
              padding: 10px 70px;
  
              background-color: rgb(132, 106, 173);
  
              text-transform: uppercase;
              text-decoration: none;
              color: wheat;
              font-size: 0.95rem;
              font-weight: 700;
  
              &:hover {
                background-color: rgb(107, 76, 157);
              }
            }
          }
        }
      }
    }

    .main__news {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .create-news-form {
        margin: 50px;
        width: 700px;

        animation-name: fadeInContent;
        animation-duration: 2s;
        animation-iteration-count: 1;

        form {

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          text-transform: uppercase;
          font-size: 1.4rem;
          font-weight: 700;

          label {
            input {
              width: 300px;
              height: 30px;

              margin: 15px;
              padding: 15px 15px;

              outline: none;
              border: 2px solid rgb(132, 106, 173);
              background-color: rgba(0, 0, 0, 0);
              box-sizing: border-box;

              color: rgb(132, 106, 173);
              font-size: 0.95rem;
            }

            textarea {
              width: 500px;
              height: 150px;

              padding: 15px;

              resize: none;

              outline: none;
              background-color: rgba(0, 0, 0, 0);
              border: 2px solid rgb(132, 106, 173);
              box-sizing: border-box;

              color: rgb(136, 136, 136);
              font-size: 0.95rem;
            }
          }

          button {
            margin: 5px;

            width: 250px;
            height: 40px;
            padding: 5px 15px;

            outline: none;
            border: none;

            background-color: rgb(132, 106, 173);
            color: wheat;
            font-size: 0.85rem;
            font-weight: 700;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .container-news {
        width: 1700px;
        padding: 20px 0px;

        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .news-card {
          margin: 20px;
          width: 350px;
          height: 500px;

          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          background-color: rgb(243, 243, 243);
          box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3);

          .card-header {
            width: 100%;
            height: 55px;

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            background-color: rgb(223, 223, 223);

            p {
              color: rgb(146, 117, 192);
              font-size: 0.85rem;
              font-weight: 700;
            }
          }

          .card-content {
            margin: 20px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
              margin: 0;
              text-align: center;

              &:nth-child(1) {
                height: 45px;
                color: rgb(75, 75, 75);
                font-size: 1.1rem;
                font-weight: 700;
              }

              &:nth-child(3) {
                padding: 15px;
                
                color: rgb(46, 46, 46);
                font-size: 0.95rem;
                letter-spacing: 1px;
                font-weight: 500;
              }
            }

            img {
              margin: 10px;

              width: 250px;
              height: 170px;

              border: 2px solid rgb(223, 223, 223);
            }
          }
        }
      }
    }

    .main__contacts {
      margin: 20px;

      .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          font-size: 1.4rem;
          font-weight: 700;
          text-transform: uppercase;
        }

        .container-social {
          a {
            padding: 10px;

            color: rgb(118, 87, 169);
            font-size: 1.6rem;
            font-weight: 500;
            text-decoration: none;

            &:hover {
              i {
                animation-name: pulse;
                animation-duration: 1s;
                animation-iteration-count: infinite;
              }
            }
          }
        }

        .container-def-contacts {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          margin: 10px;

          a {
            padding: 10px;

            color: rgb(118, 87, 169);
            font-size: 1.3rem;
            font-weight: 500;
            text-decoration: none;

            &:hover {
              i {
                animation-name: pulse;
                animation-duration: 1s;
                animation-iteration-count: infinite;
              }
            }
          }
        }

        .container-map {
          iframe {
            width: 800px;
            height: 400px;

            border: 2px solid rgb(127, 102, 167);
          }
        }
      }
    }

    .main__about-us {
      margin: 20px;

      .about-us-container {
        width: 750px;
        p {
          color: rgb(109, 109, 109);
          font-size: 0.95rem;
          font-weight: 500;
          letter-spacing: 0.5px;

          &:nth-child(2), &:nth-child(4) {
            border-left: 4px solid rgb(132, 106, 173);
            margin: 5px;
            padding: 8px 10px;
          }

          &:nth-child(1) {
            margin: 8px;
            font-size: 1.4rem;
            font-weight: 700;
            color: rgb(132, 106, 173);
          }

          &:nth-child(3) {
            margin-top: 30px;
            margin-bottom: 8px;
            font-size: 1.4rem;
            font-weight: 700;
            color: rgb(132, 106, 173);
          }
        }
      }

      form {
        padding: 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .form-title {
          width: 600px;
          padding: 10px 0px;

          text-align: center;
          font-size: 1.3rem;
          font-weight: 500;
          color: rgb(139, 119, 172);
        }

        label {
          padding: 5px;

          input {
            padding: 15px 15px;

            width: 450px;
            height: 25px;

            outline: none;
            border: 2px solid rgb(132, 106, 173);
            background-color: rgba(0, 0, 0, 0);
            box-sizing: border-box;

            font-size: 0.85rem;
          }

          textarea {
            padding: 8px 15px;

            width: 450px;
            height: 200px;

            font-size: 0.95rem;
            color: rgb(136, 136, 136);


            resize: none;
            outline: none;
            border: 2px solid rgb(132, 106, 173);
            background-color: rgba(0, 0, 0, 0);
            box-sizing: border-box;
            font-size: 0.95rem;

            &::placeholder {
              color: rgb(136, 136, 136);
            }
          }
        }

        button {
          margin: 5px;

          width: 250px;
          height: 40px;
          padding: 5px 15px;

          outline: none;
          border: none;

          background-color: rgb(132, 106, 173);
          color: wheat;
          font-size: 0.85rem;
          font-weight: 700;

          &:hover {
          background-color: rgb(117, 95, 153);
          cursor: pointer;
          }
        }
      }
    }

    .main__global-chat {
      width: 800px;
      margin: 50px 0px;

      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;

      .container-profile {
        width: 250px;
        height: 280px;
          
        background-color: rgb(243, 243, 243);
        box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3);
  
        display: flex;
        flex-direction: column;
        align-items: center;
  
        img {
          margin: 20px;
          width: 140px;
          height: 140px;

          border: 2px solid rgb(132, 106, 173);
          box-sizing: border-box;
          box-shadow: 0px 0px 9px 8px rgba(132, 106, 173, 0.4);
          border-radius: 100%;
        }

        p {
          color: rgb(132, 106, 173);
          margin: 0;
          padding: 10px;
          font-size: 1.1rem;
          font-weight: 500;
        }
      }

      .container-chat {
        width: 500px;
        height: 600px;

        background-color: rgb(243, 243, 243);
        box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3);
  
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .chat-header {
          width: 100%;
          padding: 10px 0px;
          
          color: rgb(132, 106, 173);
          font-size: 0.95rem;
          font-weight: 700;
          text-transform: uppercase;

          text-align: center;
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.3);
        }

        .chat-main {
          width: 100%;
          height: 480px;
          padding: 10px 0px;

          .container-messages {
            width: 98%;
            height: 98%;
            
            margin: 0px 0px 0px 10px;
            overflow: auto;

            .msg-card {
              width: 300px;
              margin: 10px 0px;

              display: flex;
              flex-direction: row;
              align-items: flex-end;


              img {
                margin: 0px 5px;
                width: 45px;
                height: 45px;

                justify-content: flex-end;

                border-radius: 100%;
              }

              .message-box {
                width: 250px;

                background-color: rgb(228, 228, 228);
                border-radius: 30px 30px 30px 0px;

                .user-name {
                  padding: 10px 20px 0px 20px;
                  font-size: 0.85rem;
                  font-weight: 700;
                  color: rgb(132, 106, 173);
                }

                .user-message {
                  padding: 5px 20px;
                  font-size: 0.85rem;
                  font-weight: 700;
                  color: #6d6d6d;
                }

                .message-time {
                  padding: 0px 20px 10px 0px;
                  text-align: right;
                  font-size: 0.65rem;
                  font-weight: 700;
                  color: rgba(109, 109, 109, 0.6);
                }
              }
            }
          }
        }

        .chat-footer {
          width: 100%;
          padding: 10px 0px;
          
          color: rgb(132, 106, 173);
          font-size: 0.95rem;
          font-weight: 700;
          text-transform: uppercase;

          text-align: center;
          box-shadow: 5px 0px 8px 0px rgba(0, 0, 0, 0.3);

          form {
            label {
              input {
                width: 85%;
                padding: 10px 10px;
                border: none;
                outline: none;
                background-color: rgb(230, 230, 230);
              }
            }

            button {
              padding: 5px 5px;
              border: none;
              outline: none;
              background-color: rgba(0, 0, 0, 0);

              color: rgb(132, 106, 173);
              font-size: 1.1rem;
              font-weight: 500;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }

  }
}

/* Footer */
footer {
  max-width: 1920px;

  .footer__container {
    height: 300px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #151515;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.364);

    font-size: 1.4rem;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 2px;
    color: wheat;
  }
}

// @media screen  {
  
// }